.contenedor-search {
  display: flex;
  justify-content: space-between;
}

.serviceName {
  // margin-bottom: -50px;
  font-size: 25px;
  // margin-left: 100px;
}

.contenedor-search {
  height: 40px;
  margin-top: 25px;
}

.inputSearch {
  border-radius: 0 15px 15px 0;
  background-color: #F4F6F6;
  outline: none;
  border:1px solid #ccccccad;
  border-left: none;
  width: 300px;
  height: 44px;
  padding-left: 5px;
  // margin-right: 30px;
  // margin-top: 15px;
}

.iconSearch {
  border-radius: 15px 0 0 15px;
  background-color: #F4F6F6;
  width: 80px;
  height: 40px;
  padding: 10px;
  border:1px solid #ccccccad;
  border-right: none;
  align-self: center;
  // margin-left: 30px;
}

.botonAddService {
  // margin-right: 20px;
  border-radius: 10px;
  padding: 5px 10px;
}